.selected-color {
    padding: 20px;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
}

.full-page{
    min-height: 90vh;
}

.scroll{
    max-height: 90vh;
    overflow: auto;
}

#attempt{
    border-left:2px solid black;
}