.text-color {
    color: rgb(240, 0, 200);
}

.selected-color {
    padding: 9px;
    margin: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 15px;
}

.full-page {
    min-height: 87vh;
    border: 1px groove #ff8800cc;
    border-radius: 15px;
    animation: changeColor 2s;
    animation-iteration-count: infinite;
}

@keyframes changeColor {
    10% {
        border-color: #ff0000;
    }

    40% {
        border-color: #ff9900;
    }

    80% {
        border-color: #0099ff;
    }

    100% {
        border-color: #c6fa2c;
    }
}

.scroll,
.text-scroll {
    max-height: 90vh;
    overflow: auto;
    border-left: 2px solid #00e3ee94;
}

.sp1,
.sp2,
.sp3 {
    font-weight: bold;
}

.sp1 {
    color: green;
}

.sp2 {
    color: yellow;
}

.sp3 {
    color: red;
}

.victory {
    width: 30vh;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 3px #ffa330;
    padding: 5px;
}

.restart {
    border: 2px dotted #04f16f;
}

.font-attempt {
    color: #8dbd00 !important;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .scroll {
        max-height: 61vh;
        overflow: auto;
        border-left: none;
        border-top: 2px solid #00e3ee94;
    }

    .text-scroll {
        max-height: 50vh;
        overflow: auto;
        border-left: none;
        border-top: 2px solid #00e3ee94;
    }

    .font {
        font-size: smaller !important;
    }

    .font-attempt {
        font-size: smaller !important;
        font-weight: bold !important;
        color: #8dbd00 !important;
    }
}